<div class="container">
    <div class="col d-flex justify-content-center">
    <div class="row">
      <div class="col s6">
        <div class="card grey lighten-2">
          <div class="card-tabs">
                <h3>Reset Password</h3>
                <i class="material-icons-outlined">done</i> Recovery Code has been send to your mail
                <!--/////////////////////////////////////////////-->
                <form #resetPasswordForm="ngForm" class="col s12 white"
                 (ngSubmit)="OnSubmit(password.value,resetToken.value)">
                 <div class="row">
                    <div class="input-field col s12">
                      <input type="password" #password ngModel name="password"
                       placeholder="Enter new password" required>
                    </div>
                  </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" #resetToken ngModel name="resetToken"
                         placeholder="Enter Code here" required>
                      </div>
                    </div>
                     <div class="row">
                         <div class="input-field col s12">
                           <button [disabled]="!resetPasswordForm.valid" class="btn-large btn-submit {{service.theme.button}}"
                            type="submit">Submit</button>
                         </div>
                       </div>
                 </form>
                <!--/////////////////////////////////////////////-->
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>