<mat-toolbar>
  <button class="border-0 d-flex header-icon-button" [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="bg-secondary">
    <button class="menu-button" routerLink="/properties-for-sale" mat-menu-item>
      <span>Properties For Sale</span>
    </button>
    <button *ngIf="service.checkLogin" routerLink="/addProperty" class="menu-button" mat-menu-item>
      <span>Add a Property</span>
    </button>
    <button *ngIf="service.checkLogin" routerLink="/delete-property" class="menu-button" mat-menu-item>
      <span>Remove Property</span>
    </button>
    <button *ngIf="service.checkLogin" routerLink="/change-password" class="menu-button" mat-menu-item>
      <span>Change Password</span>
    </button>
    <button *ngIf="service.checkLogin" routerLink="/update-profile" class="menu-button" mat-menu-item>
      <span>Update Profile</span>
    </button>
  </mat-menu>
  <span class="ml-2">The Real Estate</span>
  <span class="example-spacer"></span>
  <span class="pointer pr-2 fw-light fs-6" *ngIf="!service.checkLogin" routerLink="/login">Login</span>
  <span class="pointer pr-2 fw-light fs-6" *ngIf="service.checkLogin" (click)="Logout()">Logout</span>
</mat-toolbar>