:host ::ng-deep .mat-toolbar {
    background-color: #6c757d !important;
    color: white;
}
.header-icon-button{
    background-color: transparent;
}
.header-icon-button:focus{
    background-color: transparent;
}
.header-icon-button:hover{
    background-color: #95979a !important;
    cursor: pointer;
    border-radius: 10px;
}
.menu-button{
    color: white;
    background-color: #6c757d !important;
}
.menu-button:hover{
    color: white;
    background-color: #95979a !important;
}
.example-spacer {
    flex: 1 1 auto;
}
.pointer{
    cursor: pointer;
}