<div class="container">
    <div class="col d-flex justify-content-center">
    <div class="row">
      <div class="col s6">
        <div class="card grey lighten-2">
          <div class="card-tabs">
                <h3>Change Password</h3>
                <div *ngIf="password" class="red-text center error-message">
                    <i class="material-icons">error</i> Old Password Not Match
                </div>
                <!--/////////////////////////////////////////////-->
                <form #changePasswordForm="ngForm" class="col s12 white"
                 (ngSubmit)="OnSubmit(oldPassword.value,newPassword.value)">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="password" #oldPassword ngModel name="oldPassword"
                         placeholder="Old Password" required>
                      </div>
                    </div>
                    <div class="row">
                       <div class="input-field col s12">
                         <input type="password" #newPassword ngModel name="newPassword"
                          placeholder="New Password" required>
                       </div>
                     </div>
                     <div class="row">
                         <div class="input-field col s12">
                           <button [disabled]="!changePasswordForm.valid" class="btn-large btn-submit {{ service.theme.button }}"
                            type="submit">Change Password</button>
                         </div>
                       </div>
                 </form>
                <!--/////////////////////////////////////////////-->
          </div>
          <div class="card-content white">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>