.background-secondary{
    background-color: aqua;
}
.content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    padding: 0 0 40px 0;
    overflow: hidden;
}
.spacing { margin-left: 2%; margin-right: 2%; margin-top: 2%;}
  .paddings { padding-top: 5%;}